
@charset "utf-8";
/* Documento de CSS*/
nav{
	background-color:#014764;
	/*background-image: url"img/snapbuilder.png");*/
	height:6em;
}
#id_titulo{
	
}
#id_formulario{
	display:flex;
}
input{
	
	background-color:#002F42;
	color: white;
	border-style: none;
}
#id_resultado{
	background-color:#002F42;
	color:white;
	margin-top:6em;
	text-align: center;	
}
table{
	background-image: url('/C:/Users/yoel/git/webItunes/img/snapbuilder1.png');
	 background-repeat: no-repeat;
	 background-size:cover;
	background-position: center;
	max-width: 100%;
	width: 110%;
}
#id_logo{
	width: 3em;
}
#logo{
	width: 6em;	
}
#titulo{
	width: 8em;
	
}
a{
	text-decoration:none;
	color:white;	
}
a:hover{
	color: black;
}
th{
	font-size: 110%;
	text-align: center;
}
#id_listaVacia{
	display: none;
	margin-top: 12em;
	justify-content: center;
}
#id_foto{
	border-radius: 15px;
}

body{
	font-family: 'Kanit', sans-serif;
}
