
@charset "utf-8";
/* Documento de CSS*/
nav{
	background-color:#014764;
	/*background-image: url"img/snapbuilder.png");*/
	height:6em;
}
#id_formulario{
	display:flex;
}
#id_button{
	border-radius: 1px;
}
input{
	
	background-color:#002F42;
	color: white;
	border-style: none;
}
#id_resultado{
	color:white;
	margin-top:6em;
	text-align: center;	
}
table{
	background-image: url('/C:/Users/yoel/git/webItunes/img/snapbuilder1.png');
	 background-repeat: no-repeat;
	 background-size:cover;
	background-position: center;
	max-width: 100%;
	width: 110%;
}
#id_logo{
	width: 3em;
}
#logo{
	width: 6em;	
}
#titulo{
	width: 8em;	
}
footer{
	color: black;
	font-size: 24px;
}
a{
	text-decoration:none;	
}
th{
	font-size: 150%;
	text-align: center;
	text-shadow: black 12px;
	
}
#id_listaVacia{
	display: none;
	margin-top: 12em;
	justify-content: center;
}
#id_foto{
	border-radius: 15px;
}
body{
	font-family: 'Kanit', sans-serif;
}
/* For mobile phones: */
@media only screen and (max-width: 600px) {
#id_titulo{
	display: none;
}
nav{
	height: 12em;
}
#div_foto{
	width: 100%;
}
table{
	background-image: url('/C:/Users/yoel/git/webItunes/img/snapbuilder1.png');
	 background-repeat: no-repeat;
	 background-size:cover;
}
#id_resultado{
 margin-top:12em;
}
audio{
	width: 100%;
}